<div class="container col-5 rounded border border-primary p-3 ml-3 d-inline-block">
    <h3>Tareas finalizadas</h3>
    <div class="container border-2">
        <ul>
            @foreach (var task in TaskList)
            {
                <li @onclick="()=>TodoOnClick(task.Id)">@task.Name - @task.Description</li>
                <br/>
                <button type="button" class="btn btn-info"><a class="unstyled-link" href="/edit/@task.Id">Editar</a></button>
                <button type="button" class="btn btn-info"><a class="unstyled-link" href="/edit/@task.Id/@true">Añadir Subtarea</a></button>               
            }
        </ul>
    </div>
</div>


@code {
    [Parameter] public String Header { set; get; } // Establezco un parámetro para el título del componente
    [Parameter] public List<String> TaskList { set; get; } = new(); // Establezco un parámetro para la lista a mostrar

}
