@page "/edit"
@page "/edit/{id:guid}"

@if (_todo is null || _todo.Id == Guid.Empty) // Compruebo si la ID de la tarea pasada está vacía
{
    <h1>Nueva tarea</h1> // Si está vacía, muestro este título
}
else
{
    <h1>Editando tarea</h1> // Si no está vacía, muestro este otro título
}

@* Contenedor para añadir o editar una tarea *@
<div class="container border border-primary p-3">
    <EditForm Model="@_todo" OnValidSubmit="@HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>Nombre</p>
        <InputText @bind-Value="_todo.Name" />
        <br />
        <p>Descripción</p>
        <InputText @bind-Value="_todo.Description" />
        <br />
        <p>Finalizada</p>
        <InputCheckbox @bind-Value="_todo.Done" />
        <br />

        <button type="submit">Guardar</button>
    </EditForm>
</div>