@page "/"

<h3>TaskManager</h3>

@code {
    private List<Task> pendingTasks { get; set; } = new();
	string NewTaskDescription = "";
	int countTaskId = 0;

	void addNewTask()
	{
		countTaskId++;
		Task newTask = new();
		newTask.DescriptionTask = NewTaskDescription;
		newTask.Done = false;
		newTask.TaskID = 0;
	}


    class Task
    {
        public bool Done { get; set; }
		public string DescriptionTask { get; set; }
		public int TaskID { get; set; }
    }
}