@using TaskManager.Shared;

@page "/"

<h3>TaskManager</h3>

@* Contenedor donde va a ir la caja de texto para insertar una nueva tarea *@
<div class="container border-1">
	<label for="txtDescription">Nombre de la tarea : </label>
@*	<InputText id="txtTaskName" @bind-Value="NewTaskName"/>*@
	<label for="txtDescription">Descripción de la tarea : </label>
@*	<InputText id="txtTaskName" @bind-Value="NewTaskDescription"/>*@
	<button @onclick="addNewTask">Añadir Tarea</button>
</div>


@* Contenedor para las tareas pendientes *@
<div class="container border-2">
	<ul>
		@foreach (var task in _pendingTasks)
	   {
		<li>@task.TaskName</li>
	   }
	</ul>
</div>


@* Contenedor para las tareas realizadas *@
<div class="container border-2">
	<ul>
		@foreach (var task in _finishedTasks)
	   {
		<li>@task.TaskName</li>
	   }
	</ul>
</div>


<EditForm Model="@_task" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="_task.TaskName" />
    <InputText id="description" @bind-Value="_task.DescriptionTask" />
    <InputCheckbox id="done" @bind-Value="_task.Done" />

    <button type="submit">Submit</button>
</EditForm>