@using TaskManager.Shared;

@page "/"

<h3>TaskManager</h3>

@* Contenedor donde va a ir la caja de texto para insertar una nueva tarea *@
<div class="container border-1">
	<label for="txtDescription">Nombre de la tarea : </label>
@*	<InputText id="txtTaskName" @bind-Value="NewTaskName"/>*@
	<label for="txtDescription">Descripción de la tarea : </label>
@*	<InputText id="txtTaskName" @bind-Value="NewTaskDescription"/>*@
	<button @onclick="addNewTask">Añadir Tarea</button>
</div>


@* Contenedor para las tareas pendientes *@
<div class="container border-2">
	<ul>
		@foreach (var task in pendingTasks)
	   {
		<li>@task.TaskName</li>
	   }
	</ul>
</div>


@* Contenedor para las tareas realizadas *@
<div class="container border-2">
	<ul>
		@foreach (var task in finishedTasks)
	   {
		<li>@task.TaskName</li>
	   }
	</ul>
</div>


@code {
	private List<ToDoTask> pendingTasks { get; set; } = new(); @* Lista de tareas pendientes *@
	private List<ToDoTask> finishedTasks { get; set; } = new(); @* Lista de tareas realizadas *@


	static string NewTaskName = ""; @* Para el nombre de la nueva tarea *@
	static string NewTaskDescription = ""; @* Para la descripción de la nueva tarea *@
	static int countTaskId = 0; @* Contador del ID de las tareas *@

	@* Comprueba y añade una nueva tarea si la info escrita por el usuario procede *@
	void addNewTask()
	{
		if (NewTaskName != "" && NewTaskDescription != "")
		{
			ToDoTask newTask = new(NewTaskName, NewTaskDescription);		
		}
	}
}